*.class
*.classpath
CBIRProjekt/bin
CBIRProjekt/cma/bin
CBIRProjekt/RBMLogs
CBIRProjekt/test.xml
CBIRProjekt/*.dat
CBIRProjekt/CBIR_Project/images/*
/CBIR_Projekt/nbproject/private/
/ICONN/nbproject/private/

/CBIRProjekt/nbproject
/CBIRProjekt/build
/CBIRProjekt/build.xml
/CBIRProjekt/manifest.mf
/CBIRProjekt/.settings
/CBIRProjekt/dist
nbproject
/build/
/CBIR_Project
build.xml
manifest.mf
CBIRProjekt/Persistor
CBIRProject/CBIR_Project/MANIFEST.MF
CBIRProject/CBIR_Project/.settings
CBIRProjekt/nbproject
CBIRProjekt/build
CBIRProjekt/build.xml
CBIRProjekt/manifest.mf
CBIRProjekt/.settings
CBIRProjekt/dist
