*.class
CBIRProjekt/cma/bin
CBIRProjekt/RBMLogs
CBIRProjekt/test.xml
CBIRProjekt/*.dat
CBIRProjekt/CBIR_Project/images/MNIST_Database_ARGB
CBIRProjekt/CBIR_Project/images/MNIST_Database
CBIRProjekt/CBIR_Project/images/MNIST_1000_Database
CBIRProjekt/CBIR_Project/images/MNIST_1000
CBITProjekt/CBIR_Project/images/MNIST_1000.zip
CBIRProjekt/CBIR_Project/images/MNIST
CBITProjekt/CBIR_Project/images/MNIST.zip
/CBIR_Projekt/nbproject/private/
/ICONN/nbproject/private/

/CBIRProjekt/nbproject
/CBIRProjekt/build
/CBIRProjekt/.project
/CBIRProjekt/.classpath
/CBIRProjekt/build.xml
/CBIRProjekt/manifest.mf
/CBIRProjekt/.settings
/CBIRProjekt/dist
/CBIRProjekt/lib
/CBIRProjekt/libs
/CBIRProjekt/RBM/lib
nbproject
